:root{
    --bg-color: #042f2e;
    --font-color:#f0fdf4;
}
body{
    margin:0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: all 1s ease-in-out;
    flex-direction: column;
}

.grid-container{
    width:50%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-template-rows: repeat(3,20%);
    justify-content: center;
    align-content: center;
}

.block{
    outline: solid var(--font-color);
    height: 100%;
    width: 100%;
}
