:root{
    --bg-color: #042f2e;
    --font-color:#f0fdf4;
}
body{
    margin:0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: all 1s ease-in-out;
    flex-direction: column;
    font-family: 'Diphylleia', serif;
}

.grid-container{
    width:50%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-template-rows: repeat(3,20%);
    justify-content: center;
    align-content: center;
    gap:1px;
}   

.block{
    border: solid var(--font-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.block:hover{
    background-color: #076a69;
}

.no-top-border{
    border-top: none;
}

.no-left-border{
    border-left: none;
}

.no-right-border{
    border-right: none;
}

.no-bottom-border{
    border-bottom:none
}

.modal{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.565);
    font-size: larger;
}

.modal-contianer{
    background-color: white;
    height: 60%;
    width: 35%;
    border-radius: 20px;
    display: flex;
    color:var(--bg-color);
    align-items: center;
    flex-direction: column;
}

.modal-contianer > h1{
    margin-top:20%;
}

.play-again{
    width: 40%;
    margin-top: 10%;
    font-size: larger;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    background-color: var(--bg-color);
    color: var(--font-color);
    border-radius: 10px;
    transition: background-color ease 1s;
}


.play-again:hover{
    background-color:#086564;
}